---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import ProjectCard from '../components/ProjectCard.astro';
import BackgroundCard from '../components/BackgroundCard.astro';
import json from "../data.json";
---

<!DOCTYPE html>
<html class="2xl:text-[20px]" lang="en">
	<head>
		<BaseHead title={json.siteSettings.SITE_TITLE} description={json.siteSettings.SITE_DESCRIPTION} />
	</head>
	<body class="bg-background text-white font-sans ">
		<Header title={json.siteSettings.SITE_TITLE}/>
		<main>
			<section>
				<a id="about" class="hidden" style="display:block; position:relative; top:-50px;"></a>
				<div class="mx-auto max-w-6xl py-12">
					<div class="mx-auto sm:text-left">
						<h2 class="mb-3 px-4 sm:px-24 font-bold text-3xl text-white">{json.about.name}</h2>
						<h2 class="px-4 sm:px-24 text-2xl text-">{json.about.title}</h2>
						<p class="px-4 py-4 sm:px-24 text-lg text-greyTwo">{json.about.description}</p>
						<div class="mx-auto max-w-6xl py-12 flex flex-col items-center gap-4">
							<h2 class="text-md text-white">{json.about.socials}</h2>
							<div>
								<ul class="flex flex-row gap-4">
									<a href="https://linkedin.com/in/josh-smith1709" target="_blank"><iconify-icon icon="mdi:linkedin" style="color: #006bff;" width="36" height="36"></iconify-icon></a>
									<a href="https://github.com/SecondOccurrence" target="_blank"><img src="../src/images/github.svg" width="36" height="36"/></a>
									<!--<a><iconify-icon icon="mdi:twitter" style="color: #006bff;" width="36" height="36"></iconify-icon></a>-->
								</ul>
							</div>
							<hr class="mt-6 w-full bg-white">
						</div>
					</div>
				</div>
			</section>
			<section>
				<a id="skills" class="hidden" style="display:block; position:relative; top:-50px;"></a>
				<div class="mx-auto max-w-6xl py-12">
					<div class="mx-auto px-4 sm:text-center">
						<h2 class="pb-3 font-bold text-3xl ">{json.skills.title}</h2>
						<p class="text-md font-bold">{json.skills.sub1}</p>
						<div class="flex flex-col">
							<h2 class="pt-4 pb-2 font-medium  text-greyOne">C#</h2>
							<h2 class="py-2 font-medium  text-greyOne">Astro / Tailwindcss</h2>
						</div>
						<p class="pt-12 font-bold text-md">{json.skills.sub2}</p>
						<div class="flex flex-col">
							<h2 class="pt-4 pb-2 font-medium text-greyOne">Typescript</h2>
							<h2 class="py-2 font-medium text-greyOne">Java</h2>
							<h2 class="py-2 font-medium  text-greyOne">C</h2>
							<h2 class="py-2 font-medium  text-greyOne">Python</h2>
							<h2 class="py-2 font-medium  text-greyOne">HTML / JS / CSS</h2>
						</div>
						<p class="pt-12 font-bold text-md">{json.skills.sub3}</p>
						<div class="flex flex-col">
							<h2 class="pt-4 pb-2 font-medium text-greyOne">Blender 3D Modelling + Animation</h2>
						</div>
					</div>
					<hr class="mt-6 w-full bg-white">
				</div>
			</section>
			<section>
				<a id="background" class="hidden" style="display:block; position:relative; top:-50px;"></a> <!--unsure how to have negative position values in tailwind -->
				<div class="mx-auto max-w-6xl py-12">
					<div class="mx-auto sm:text-center">
						<h2 class="pb-3 px-4 font-bold text-3xl">{json.background.title}</h2>
						<div class="px-2">
							<button id="expButton" class="p-4 text-lg transition duration-250 hover:text-blue">{json.background.sub1}</button>
							<button id="eduButton" class="p-4 text-lg transition duration-250 hover:text-blue">{json.background.sub2}</button>
						</div>
						<div id="experience" class="mx-auto px-4 py-12 grid gap-4">
							<BackgroundCard
								date={json.background.card1.date}
								title={json.background.card1.title}
								desc={json.background.card1.desc}
							/>
							<BackgroundCard
							date={json.background.card2.date}
							title={json.background.card2.title}
							desc={json.background.card2.desc}
							/>
							<BackgroundCard
							date={json.background.card3.date}
							title={json.background.card3.title}
							desc={json.background.card3.desc}
							/>
						</div>
						<div id="edu" class="mx-auto px-4 py-12 grid gap-4 hidden">
							<BackgroundCard
								date={json.background.card4.date}
								title={json.background.card4.title}
								desc={json.background.card4.desc}
							/>
							<BackgroundCard
								date={json.background.card5.date}
								title={json.background.card5.title}
								desc={json.background.card5.desc}
							/>
						</div>
					</div>
					<hr class="mt-6 w-full bg-white">
				</div>
			</section>
			<section>
				<a id="projects" class="hidden" style="display:block; position:relative; top:-50px;"></a>
				<div class="mx-auto max-w-6xl py-12">
					<div class="mx-auto sm:text-center">
						<h2 class="mb-3 px-4 font-bold text-3xl">{json.projects.title}</h2>
						<p class="px-4 text-lg">{json.projects.desc}</p>
					</div>
					<div class="mx-auto px-4 py-12 grid md:grid-cols-2 gap-4">
						<ProjectCard
						title="s&box Fishing Minigame"
						body="Made with an intention to be included in a bigger collaborative project, this minigame plans to have 2+ players fish in a pond, catching fish to gain points and win."
						href="https://github.com/SecondOccurrence/sbox-fishing"
						>
							<div class="flex flex-row gap-4">
								<h2 class="pt-3 text-xs text-blue font-bold">Languages:</h2>
								<h2 class="pt-3 text-xs text-blue font-medium">C#</h2>
							</div>
						</ProjectCard>
					</div>
					<p class="px-4 text-md text-center">See my <a href="https://github.com/SecondOccurrence" target="_blank" class="text-blue font-bold">Github</a> for other projects I've worked on with others</p>
					<hr class="mt-8 w-full bg-white">
				</div>
			</section>
		</main>
		<Footer/>
	</body>
</html>
<script>
	const experienceButton = document.getElementById('expButton') as HTMLInputElement;
	const educationButton = document.getElementById('eduButton') as HTMLInputElement;

	document.querySelector('#expButton')?.addEventListener('click', () => 
	{
		document.querySelector('#experience')?.classList.remove('hidden');
		document.querySelector('#edu')?.classList.add('hidden');
	});

	document.querySelector('#eduButton')?.addEventListener('click', () => 
	{
		document.querySelector('#edu')?.classList.remove('hidden');
		document.querySelector('#experience')?.classList.add('hidden');
	})
</script>